.eight-mod {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.eight-col {

 &.title {
  width: 20%;
  order: 2;
 }
 &.feature {
  width: 30%;
  order: 1;
 }
 &.list {
  width: 50%;
  order: 3;
 }
}


