.fav-nav {
  width: 100%;
  text-align: center;
  margin-bottom: 3em;
  background-color: $valentine;
  padding: 0.25em;
}

.nav-title {
  font-weight: bold;
  font-size: 4em;
  font-family: dd;
  margin: 0 auto;
  font-family: Lato;
  color: white;
}


