.fav-nav {
  width: 100%;
  text-align: center;
  background-color: $valentine;
  margin-bottom: 1.5em;
  padding: 0.25em;

  @include mq($page-width) {
    margin-bottom: 3em;
  }
}

.nav-title {
  color: white;
  font-family: Lato, monospace;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2.5em;

  @include mq($page-width){
    font-size: 4em;
  }
}


