@import 'colors';
@import 'mixins';

$page-width: 600px;

@import 'fav-section';

@import 'fav-nav';
@import 'footer';

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0;
  background-color: $bg-grey;
}

html {
  padding: 0;
}

.sections-list {
  width: 100%;
}

.ftr-link {
  &, &:active, &:visited {
    color: $link-blue;
    text-decoration: none;
  }

  &:hover {
    color: $link-blue;
    text-decoration: underline;
  }
}


